@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans&family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans&family=Merienda:wght@400;700&display=swap');

/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0;
  display: flex;
  justify-content: center;
   margin-top: 5px;
  
  
}
.imgcadastro{
  width:40vw;
  height: 75vh;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-image: url(vogue.jpg);
  box-shadow: 5px 5px 5px #A5243D;
  background-repeat: no-repeat;
  background-size: cover;

}

.formulario{
  width: 40vw;
  height: 75vh;
  margin-top: 10px;
  display: flex;
  background-color: black;
  box-shadow: 5px 5px 5px #A5243D;

}

.inicio{
color: white;
font-family: 'Abril Fatface', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Merienda', cursive;
font-size: xx-large;
margin: auto;


}

.tipo_campo{
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
  color: white;
  margin-left: 35px;
  margin-bottom: 15px;
}

.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
}


/* missao visao valores */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container{
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER */

.footer {
  background-color: #A5243D;
  height: 150px;
  color: #fff;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
}

.footer .container {
  justify-content: center;
}


/* LOGIN */


  .tipo_campo_login{
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    color: white;
    margin-left: 35px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .btn_login{
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 10px;
    font-size: 18px;
    padding: 10px;
    color: white;
    background-color: #e6005a;
    width: 100px;
    align-self: center;
    transition: transform 0s ease-in-out;
   
  }
  
  .btn_login:hover{
    color:black;
    background-color: #fff;
    transform: scale(1); 
  }

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
  
  
}

.formulario {
  display: flex;
  flex-direction: column;
  
}

input {
  margin-bottom: 25px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  height: 5px;
  margin-left: 15px;
 
  
}

.btn {
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 10px;
  font-size: 18px;
  padding: 10px;
  color: white;
  background-color: #e6005a;
  width: 100px;
  align-self: center;
  transition: transform 0s ease-in-out;
 
}

.btn:hover{
  color:black;
  background-color: #fff;
  transform: scale(1); 
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}


/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  background-color: white;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}


